/* Para evitar margenes y espacios */
* { margin: 0; padding: 0;
  font-family: Arial;
 }

body{
    /*background: rgba(153,150,50,0.4);*/
    /*background: rgba(130,112,54,0.5);*/
    /*background: rgba(206,176,131,0.5);*/
    background: rgba(7,7,7,0.6);
    /* background: rgba(73, 59, 42, 0.8); */
}

footer{
   padding-top: 0%;
   padding-bottom: 2%;
   background: rgba(255,255,255,0.8);
   bottom:0!important;
   margin-bottom: -5%;
}

#pie{
    font-size : 1.3em ;
    text-align: center;
    font-weight: bold;
}

#mes{
    color: red;
    margin-left: 18%;
}

#detallesPrestamos{
    float: right; 
    margin-left: 68%;
    top: 51%;
    position: fixed;
}

#minimizar{
    margin-left: 77%;
}

#scroll{
    width: 73%;
    height: 280px;
    background-color:#F2F2F2;
    overflow:auto;
}

#scrollNotif{
    width: 130%;
    height: 450px;
    background-color:#F2F2F2;
    overflow:auto;
}

#cabeza {
    height: 100%;
}

#aviso{
    background: rgba(255,0,0,0.8);
    color: white;
}

#IrInicio:hover{
    text-decoration: underline;
}
#IrInicio:link{
    text-decoration: none;
}
#pres{
    float: right;
    margin-left: 85%;
    margin-right: 15%;
    position: fixed;
    top: 94%;
    display: block;
}
#clickPrestamo{
    margin-left: 5%;
}

#notiRenovar{
    float: right;
    margin-left: 25%;
    position: fixed;
    top: 50%;
}

.bloqueFijo{
    position: fixed;
    margin-left: 85%;
    top: 40%;
    padding-top: 25px;
    line-height: 20px;
    width: 140px;
}

/* Responsive Desing */
/* media queries para hero-unit h1 */
@media all and (max-width: 480px){
    .hero-unit h1{
        font-size: 30px;
    }

    .respon{
        width: 50%;
    }

    #centrar{
        font-size: 20px;
    }

    #form{
        margin-left: 5%;
    }
    #formMenu{
        color: white;
    }
}

@media all and (max-width: 720px){
    header{
        position: fixed;
        width: 95%;
    }
    .hero-unit h1{
        font-size: 30px;
    }

    #centrar{
        font-size: 20px;
    }

    #form{
        margin-left: 5%;
    }
    #formMenu{
        color: white;
    }
    #pres{
      margin-left: 75%;
      top:90%;  
    }
    #detallesPrestamos{
        margin-left: 40%;
        top: 25%;
    }
    #scroll{
        width: 95%;
        height: 280px;
    }
    .bloqueFijo{
        width: 100px;
    }
}

@media all and (max-width: 480px){
    #formMenu{
        color: white;
    }
}

@media all and (max-width: 1024px){
    .respon{
        width: 140px;
    }
}    
